.heading {
    background-color: rgb(84, 84, 84);
    color:rgb(174, 174, 174);
    font-size: 100px;
    text-align: center;
    border-radius: 45%;
}

.link {
    background-color: rgb(84, 84, 84);
    font-size: 60px;
    color: rgb(174, 174, 174);
}

.head {
    color: rgb(177, 173, 173);
    font-size: 100px;
    text-align: center;

}
.second {
    color: rgb(185, 184, 184);
    font-size: 30px;
}
.list {
    color: whitesmoke;
    font-size: 20px;
}

.img {
    height: 400px;
    width: auto;
}

.des {
    color: rgb(185, 184, 184);

}

* {
    background-color: rgb(89, 99, 99);
    font-family: 'Courier New', Courier, monospace;
}